# Drizzle
# App/runtime database URL (Neon pooled URL recommended)
DATABASE_URL="postgresql://user:password@ep-xxx-pooler.us-east-1.aws.neon.tech/dbname?sslmode=require"
# Migrations database URL (Neon direct URL recommended)
DATABASE_URL_FOR_MIGRATIONS="postgresql://user:password@ep-xxx.us-east-1.aws.neon.tech/dbname?sslmode=require"

ORIGIN=""

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET="replace-with-32-plus-char-random-secret"
BETTER_AUTH_SECRET="paste-provided-token"
BETTER_AUTH_API_KEY="paste-provided-token"

#Cloudinary Database For Images
CLOUDINARY_CLOUD_NAME="paste-provided-name"
CLOUDINARY_API_KEY="paste-provided-token"
CLOUDINARY_API_SECRET="paste-provided-token"

#Cloudfare Turnstile Captcha
TURNSTILE_SITE_KEY="your_site_key"
TURNSTILE_SECRET_KEY="your_secret_key"
