# Drizzle
# App/runtime database URL (Neon pooled URL recommended)
DATABASE_URL="postgresql://user:password@ep-xxx-pooler.us-east-1.aws.neon.tech/dbname?sslmode=require"
# Migrations database URL (Neon direct URL recommended)
DATABASE_URL_FOR_MIGRATIONS="postgresql://user:password@ep-xxx.us-east-1.aws.neon.tech/dbname?sslmode=require"

ORIGIN=""

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET="replace-with-32-plus-char-random-secret"
