engine-strict=true

# The minimum age (in minutes) that a release must be before it can be promoted to the next stage.
minimum-release-age= 1440
# minimum-release-age= 4320
# minimum-release-age= 10080
minimum-release-age-exclude[]=cspell
minimum-release-age-exclude[]=@cspell/*
minimum-release-age-exclude[]=picomatch