engine-strict=true

# The minimum age (in minutes) that a release must be before it can be promoted to the next stage.
minimum-release-age= 1440
# minimum-release-age= 4320
# minimum-release-age= 10080
minimum-release-age-exclude[]=cspell
minimum-release-age-exclude[]=cspell-config-lib
minimum-release-age-exclude[]=cspell-dictionary
minimum-release-age-exclude[]=cspell-glob
minimum-release-age-exclude[]=cspell-grammar
minimum-release-age-exclude[]=cspell-io
minimum-release-age-exclude[]=cspell-lib
minimum-release-age-exclude[]=cspell-trie-lib
minimum-release-age-exclude[]=cspell-types
minimum-release-age-exclude[]=cspell-url
minimum-release-age-exclude[]=cspell-utils
minimum-release-age-exclude[]=@cspell/*
minimum-release-age-exclude[]=picomatch
minimum-release-age-exclude[]=vite
