@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@font-face {
	font-family: 'Silver';
	src: url('/fonts/Silver.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	size-adjust: 135%;
}

@theme {
	/* This creates the 'font-brand' class automatically */
	--font-brand: 'Silver', sans-serif;

	/* OPTIONAL: If you want this to be the default font for the whole app */
	--font-sans: var(--font-brand);
}

/* src/routes/layout.css */
